# traefik.toml
# https://docs.traefik.io/

logLevel = "WARN"
debug = false   
checkNewVersion = true
keepTrailingSlash = false
providersThrottleDuration = "2s"
maxIdleConnsPerHost = 200
insecureSkipVerify = false

defaultEntryPoints = ["http", "https"]

[entryPoints]
    [entryPoints.http]
        address = ":80"
        [entryPoints.http.redirect]
            entryPoint = "https"
    [entryPoints.traefik]
        address = ":8080"
        [entryPoints.traefik.auth.basic]
            usersFile = "/run/secrets/htpasswd"
    [entryPoints.https]
        address = ":443"
        [entryPoints.https.tls]

[accessLog]


[api]
    entryPoint = "traefik"
    dashboard = true
    debug = false

[acme]
    caServer = "{{ acme_url }}"
    email = "{{ acme_email }}"
    storage = "acme.json"
    entryPoint = "https"

[acme.httpChallenge]
    entryPoint = "http"

{% if domains|length > 0 %}
[[acme.domains]]
    main = "{{ domains[0] }}"
{% endif %}
{% if domains|length > 1 %}
    sans = [{{ domains | join(',') }}]
{% endif %}

[retry]
    attempts = 3

[file]
    watch = true

[docker]
    endpoint = "unix:///var/run/docker.sock"
    watch = true
    exposedByDefault = false
    usebindportip = false
    swarmMode = true
    swarmModeRefreshSeconds = 5
